.mymargin {
    margin: 5px;
    padding-left: 50px;
    padding-top: 4px;

}
.mymargin2 {
    margin: 3px;
}
.footer {
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: aqua;
   color:black;
   text-align: center;
   font-family: fantasy;
   font-size: larger;
}
h1 {
    text-align: center;
}
.container {
    padding-top: 20px;
    padding-bottom: 10px;
}
.border
{
        margin-right: 10px;
}